<div class="section screen">
  <h3 class="page-heading has-text-centered">PRODUCTION</h3>

  <div class="container">
      <div class="columns has-text-centered">
          <div class="column bar">
              <div class="slider" >
                  <div class="filterer"></div>
              </div>
          </div>
      </div>
  </div>
  <h5 class="subtitle has-text-centered">Phase 5</h5>
  <h5 class="subtitle has-text-centered">
    The purpose of this phase is  to  configure the solution accepted during UAT to Prod environment, migrate master data & open balances & release the system for go live.
  </h5>

  <div class="tile is-ancestor">
      <div class="tile is-vertical is-12">
        <div class="tile">
          <div class="tile is-vertical">
          <div class="tile is-parent is-vertical">
            <article class="tile is-child box">
              <p class="title">Entry Criteria</p>
              <div class="content">
                  <ul>
                      <li>Training Material</li>
                      <li>Cutover	& Validation Template</li>
                  </ul>
              </div>
            </article>
          </div>
          <div class="tile is-parent">
              <article class="tile is-child notification">
                  <p class="title has-text-danger">Input</p>
                  <div class="content">
                  <ul>
                      <li>UAT sign off from YEU</li>
                  </ul>
                  </div>
                </article>
          </div>
      </div>
          <div class="tile is-parent is-vertical">
            <article class="tile is-child box">
              <p class="title">Task</p>
              <div class="content">
                  <ul>
                      <li>Migrate	to Production</li>
                      <li>PROD Configuration</li>
                      <li>Integrations Go Live</li>
                      <li>Post Go-Live Support</li>
                      <li>Handoff  to  Client  IT Team</li>
                  </ul>
              </div>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title">Validation</p>
              <div class="content">
                  <ul>
                      <li>Project /Phase Review by the SQAR</li>
                  </ul>
              </div>
            </article>
          </div>
         <div class="tile is-vertical">
          <div class="tile is-parent">
              <article class="tile is-child box">
                  <p class="title">Exit Criteria</p>
                  <div class="content">
                      <ul>
                          <li>Cut-over Strategy (Black out period)​​</li>
                          <li>Workshop /Business Use Case Sign Off​</li>
                          <li>Training Plan​</li>
                      </ul>
                  </div>
              </article>
            </div>
          <div class="tile is-parent">
              <article class="tile is-child notification">
                  <p class="title has-text-success">Output</p>
                  <div class="content">
                    <ul>
                        <li>Workshop /Business Use Case Sign Off​</li>
                        <li>Conversion Test Plans​</li>
                        <li>UAT Test Scripts​</li>
                        <li>Cutover Plan​</li>
                    </ul>
                    </div>
                </article>
          </div>
          </div>
        </div>

      </div>
  </div>


</div>
