/* header.component.scss */

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #fff; /* Set your desired text color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a box shadow if needed */

  // padding: 20px 0;
  background-color: #1314158b; /* Change the background color as needed */
  border-bottom: 0.01rem solid #e9ecef; /* Change the border color as needed */
  // display: block;
  // flex-wrap: wrap;
  // width: 100%;
  padding-left: 7rem;
  padding-right: 7rem;
  // margin-top: 60px;

  .logo {
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .title {
    h1 {
      margin: 0;
      font-size: 20px;
    }
  }

  .login {
    .login-button {
      padding: 8px 12px;
      border-radius: 4px;
      background-color: #fff; /* Set your desired button color */
      color: #055144; /* Set your desired button text color */
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      border: none;

      &:hover {
        background-color: #C5FAC1; /* Set your desired hover button color */
        // color: #fff; /* Set your desired hover button text color */
      }
    }
  }
}
