<div class="section screen">
    <h3 class="page-heading has-text-centered">DESIGN</h3>

    <div class="container">
        <div class="columns has-text-centered">
            <div class="column bar">
                <div class="slider" >
                    <div class="filterer"></div>
                </div>
            </div>
        </div>
    </div>
    <h5 class="subtitle has-text-centered">Phase 1</h5>
    <h5 class="subtitle has-text-centered">
        The purpose of this phase is to create the blueprint, which is detailed documentation of the business processes which  will be implemented by Calfus​.
    </h5>

    <div class="tile is-ancestor">
        <div class="tile is-vertical is-12">
          <div class="tile">
            <div class="tile is-vertical">
            <div class="tile is-parent is-vertical">
              <article class="tile is-child box">
                <p class="title">Entry Criteria</p>
                <div class="content">
                    <ul>
                        <li>Environment Readiness</li>
                        <li>Pre-Built Questionnaire</li>
                        <li>Templates, MBP Flows</li>
                    </ul>
                </div>
              </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-danger">
                    <p class="title">INPUT</p>
                    <div class="content subtitle">
                    <ul>
                        <li>Business Requirements Use cases​</li>
                        <li>Data, Security Needs</li>
                    </ul>
                    </div>
                  </article>
            </div>
        </div>
            <div class="tile is-parent is-vertical">
              <article class="tile is-child box">
                <p class="title">Task</p>
                <div class="content">
                    <ul>
                        <li>Functional & Technical Design Workshops for Business Process Mapping</li>
                        <li>Solution Design</li>
                        <li>Conversions & Integrations Strategy</li>
                    </ul>
                </div>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="title">Validation</p>
                <div class="content">
                    <ul>
                        <li>Solution Governance Activities performed</li>
                        <li>Review findings are validated.</li>
                        <li>RTM is Validated</li>
                        <li>Final Inspection Review by the SQAR and Technical Lead Project /Phase Review by the SQAR​</li>
                    </ul>
                </div>
              </article>
            </div>
           <div class="tile is-vertical">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">Exit Criteria</p>
                    <div class="content">
                        <ul>
                            <li>Issue List​​</li>
                            <li>User Manuals​</li>
                            <li>Business / Test Scenarios, Design & Set- up Decisions & Reviews​</li>
                            <li>Gaps & Solutions​</li>
                            <li>Data Conversion Strategy​ </li>
                            <li>Integration Strategy​</li>
                            <li>PaaS Components finalization</li>
                        </ul>
                    </div>
                </article>
              </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-success">
                    <p class="title">OUTPUT</p>
                    <p class="subtitle">Design Document sign off, Test Plan sign off.​</p>
                    <div class="content">
                      <!-- Content -->
                    </div>
                  </article>
            </div>
            </div>
          </div>
          
        </div>
    </div>


</div>