<div class="section screen">
  <h3 class="page-heading has-text-centered">DESIGN</h3>

  <div class="container">
      <div class="columns has-text-centered">
          <div class="column bar">
              <div class="slider">
                  <div class="filterer"></div>
              </div>
          </div>
      </div>
  </div>
  <h5 class="subtitle has-text-centered">Phase 1</h5>
  <h5 class="subtitle has-text-centered">
      The purpose of this phase is to create the blueprint, which is detailed documentation of the business processes which will be implemented by Calfus​.
  </h5>

  <div class="tile is-ancestor">
      <div class="tile is-vertical is-12">
          <div class="tile">
              <div class="tile is-vertical">
                  <div class="tile is-parent is-vertical">
                      <article class="tile is-child box">
                          <p class="title">Entry Criteria</p>
                          <div class="content">
                              <ul>
                                  <li><a [routerLink]="['/file-view', 'cshekar_credentials.csv']">Environment Readiness</a></li>
                                  <li><a [routerLink]="['/file-view', 'pre-built-questionnaire']">Pre-Built Questionnaire</a></li>
                                  <li><a [routerLink]="['/file-view', 'templates-mbp-flows']">Templates, MBP Flows</a></li>
                              </ul>
                          </div>
                      </article>
                  </div>
                  <div class="tile is-parent">
                      <article class="tile is-child notification">
                          <p class="title has-text-danger">Input</p>
                          <div class="content">
                              <ul>
                                  <li><a [routerLink]="['/file-view', 'business-requirements-use-cases']">Business Requirements Use cases</a></li>
                                  <li><a [routerLink]="['/file-view', 'data-security-needs']">Data, Security Needs</a></li>
                              </ul>
                          </div>
                      </article>
                  </div>
              </div>
              <div class="tile is-parent is-vertical">
                  <article class="tile is-child box">
                      <p class="title">Task</p>
                      <div class="content">
                          <ul>
                              <li><a [routerLink]="['/file-view', 'functional-technical-design-workshops']">Functional & Technical Design Workshops for Business Process Mapping</a></li>
                              <li><a [routerLink]="['/file-view', 'solution-design']">Solution Design</a></li>
                              <li><a [routerLink]="['/file-view', 'conversions-integrations-strategy']">Conversions & Integrations Strategy</a></li>
                          </ul>
                      </div>
                  </article>
              </div>
              <div class="tile is-parent">
                  <article class="tile is-child box">
                      <p class="title">Validation</p>
                      <div class="content">
                          <ul>
                              <li>Solution Governance Activities performed</li>
                              <li>Review findings are validated.</li>
                              <li>RTM is Validated</li>
                              <li>Final Inspection Review by the SQAR and Technical Lead Project /Phase Review by the SQAR​</li>
                          </ul>
                      </div>
                  </article>
              </div>
              <div class="tile is-vertical">
                  <div class="tile is-parent">
                      <article class="tile is-child box">
                          <p class="title">Exit Criteria</p>
                          <div class="content">
                              <ul>
                                  <li><a [routerLink]="['/file-view', 'issue-list']">Issue List​​</a></li>
                                  <li><a [routerLink]="['/file-view', 'user-manuals']">User Manuals​</a></li>
                                  <li><a [routerLink]="['/file-view', 'business-test-scenarios-design-setup-decisions-reviews']">Business / Test Scenarios, Design & Set- up Decisions & Reviews​</a></li>
                                  <li><a [routerLink]="['/file-view', 'gaps-solutions']">Gaps & Solutions​</a></li>
                                  <li><a [routerLink]="['/file-view', 'data-conversion-strategy']">Data Conversion Strategy​</a></li>
                                  <li><a [routerLink]="['/file-view', 'integration-strategy']">Integration Strategy​</a></li>
                                  <li><a [routerLink]="['/file-view', 'paas-components-finalization']">PaaS Components finalization</a></li>
                              </ul>
                          </div>
                      </article>
                  </div>
                  <div class="tile is-parent">
                      <article class="tile is-child notification">
                          <p class="title has-text-success">Output</p>
                          <div class="content">
                              <ul>
                                  <li><a [routerLink]="['/file-view', 'design-document-test-plan-sign-off']">Design Document sign off, Test Plan sign off.​</a></li>
                              </ul>
                          </div>
                      </article>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
