<div class="screen">
  <div class="columns mt-1 is-variable is-multiline" *ngIf="traits.default">
    <div class="column is-6-tablet is-one-fifth-desktop" *ngFor="let trait of traits.default">
      <div (mouseover)="hideElement = false" (mouseleave)="hideElement = true" class="card is-clickable has-text-centered" routerLink="{{trait.rLink}}">
        <div class="unhide card-image image is-96x96">
          <img [src]="trait.imageUrl" alt="">
        </div>
        <div class="card-content has-text-centered">
          <p class="page-heading is-size-6-widescreen">{{trait.name | uppercase}}</p>
          <!-- <p class="hide subtitle sub-margin is-hidden-mobile">{{trait.description}}</p> -->
        </div>
        <div class="columns has-text-centered is-hidden-mobile">
          <div class="column bar">
              <div class="slider rainbow is-inline-block" >
                  <div class="filterer"></div>
              </div>
          </div>
        </div>
        <div class="hide has-text-centered card-desc" >
          <p class="subtitle sub-margin">{{trait.description}}</p>
        </div>
        <!-- <div class="columns has-text-centered is-hidden-mobile">
          <div class="column bar">
            <div class="slider rainbow is-inline-block">
              <div class="filterer"></div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>

  <div class="columns is-mobile mt-6">
    <div class="column is-half is-offset-one-quarter">
      <article class="panel card is-clickable has-text-centered has-background-grey-light">

<!--
    <div class="screen">

        <div class="container has-text-centered">
            <figure class="image phaseImg is-inline-block">
                <img src="../../assets/CalMethodPhases.png" alt="eXRP Phases">
            </figure>
        </div>

        <div class="columns mt-1 is-8 is-variable" *ngIf="traits.default">
            <div class="column is-one-fifth is-half-tablet is-centered" *ngFor="let trait of traits.default">
                <div (mouseover)="hideElement = false" (mouseleave)="hideElement = true" class="card is-clickable has-text-centered" routerLink="{{trait.rLink}}">
                    <div class="">
                        <div class="unhide card-image image is-96x96">
                            <img [src]="trait.imageUrl" alt="">
                        </div>
                        <div class="card-content has-text-centered">
                            <p class="page-heading is-size-6-widescreen">{{trait.name | uppercase}}
                            </p>
                        </div>
                    </div>
                    <div class="columns has-text-centered is-hidden-mobile">
                        <div class="column bar">
                            <div class="slider rainbow is-inline-block" >
                                <div class="filterer"></div>
                            </div>
                        </div>
                    </div>
                    <div class="hide has-text-centered" >
                        <p class="subtitle sub-margin">{{trait.description}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="columns is-mobile mt-6">
            <div class="column is-half is-offset-one-quarter">
                <article class="panel card is-clickable has-text-centered has-background-grey-light"> -->
                  <ejs-filemanager id='default-filemanager' [ajaxSettings]='ajaxSettings'>
                  </ejs-filemanager>
                </article>
            </div>
        </div>
    </div>
