@import url("https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

// .screen {
//   //margin-top: -400px;
// }

// .filterer{
//   filter: invert(75%) sepia(52%) saturate(4650%) hue-rotate(319deg) brightness(99%) contrast(85%);
// }

// .slider {
//     display: none;
//     margin-top: -25%;
//     position: absolute;
//     //top: 0px;
//     z-index: 100;
//     width: 0px;
//     height: 15%;
//     background: rgb(0,154,217);
//     background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
//     transition: 0.6s ease-out;
// }


// .barimg {
//   height: 20px;
// }

// .column .bar {
//   position: absolute;
//   //top: 100px;
//   //left: 22%;
//   height: 5px;
//   width: 85px;
  
// }

// .card:hover .slider {
//   width: 120px;
//   transition: 0.4s ease-out;
// }

// .unhide {
//   margin-top: 15px;
//   display:inline-block;
// }

// .hide {
//   display: none;
// }


// .heading {
//   color: #E97865;
//   font-family: 'Dancing Script', cursive;
//   text-transform: unset;
//   font-weight: 500;
//   font-size: 35px;
//   text-shadow: 1px 0.5px black;
// }


// .card {
//     z-index: 99;
//     //display: flex;
//     //height: 280px;
//      //width: 220px;
//     //background-color: #17141d;
//     background-color: #042d26;
//     //border-radius: 10px;
//     box-shadow: -1rem 0 3rem #000;
//   /*   margin-left: -50px; */
//     transition: 0.4s ease-out;
//     //position: relative;
//     //left: 0px;
//     top: 50px;
//     margin-bottom: 50px;
//     height: 55%;
//   }
  
//   .card:hover {
//     box-shadow: -1rem 0 3rem #40C1AC;
//     transform: translateY(-20px);
//     transition: 0.4s ease-out;
//     .slider {
//       display: block;
//     }
//     .hide {
//       display: block;
//     }
//     .unhide {
//       display: none;
//     }
//     .bar {
//       margin-bottom: 30%;
//     }
    
//   }
  
//   .card:hover ~ .card {
//     //position: relative;
//     //left: 50px;
//     transition: 0.4s ease-out;
//   }

  .title {
    color: #ffffff;
    font-weight: 350;
    text-shadow: #fff;
    //height: 100%;
    //position: absolute;
    //left: 20px;
    //top: 15px;
    
  }

//   img {
//     height: 100%;
//   }


//   .phaseImg {
//     width: 450px;
//     margin-bottom: -2%;
//   }

//   .sub-margin {
//     margin-top: -3%;
//     margin-bottom: 10px;
//   }


  // NEW CSS
  .cardTilt {
    z-index: 101;
    width: 210px;
    height: 254px;
    border-radius: 4px;
    background: #212121;
    display: flex;
    gap: 5px;
    padding: .4em;
  }
  
  .cardTilt p {
    height: 100%;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    transition: all .5s;
    background: #212121;
    border: 1px solid #ff5a91;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cardTilt p:hover {
    flex: 4;
  }
  
  .cardTilt p span {
    min-width: 14em;
    padding: .5em;
    text-align: center;
    transform: rotate(-90deg);
    transition: all .5s;
    text-transform: uppercase;
    color: #ff568e;
    letter-spacing: .1em;
  }
  
  .cardTilt p:hover span {
    transform: rotate(0);
  }