<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
      <!-- Bootstrap CSS -->
    <!-- build:css css/main.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <!--Header
  <app-header></app-header>-->
  <section class="section ">
    <div class="container screen">
        <h6 class="has-text-centered subtitle mb-0"><img src="../assets/calfus-logo-trans.png" width="100px"  alt=""></h6>
        <h1 class="app-heading has-text-centered"><b>xERP Methodology</b></h1>

        <router-outlet></router-outlet>
    </div>
  </section>
  
</body>
</html>
